<%- include("header") -%>
<div class="box" id="heading">
  <h1 class="about">About</h1>
</div>
<div class="box">

  <p>
    This to-do list was made to practice using Express JS and EJS with a MongoDB backend.
  </p>
</div>

<%- include("footer") -%>
